.naiparq-dash-sidenav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 3rem 1.5rem;

  .logo-nav,
  .dash-util-items {
    .dash-branding {
      margin-bottom: 1.625rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 120px;
      }

      .toggle-theme {
        position: relative;
        height: 100%;
        width: 30px;

        svg {
          height: 20px;
          width: 20px;
          color: #fbce33;
          cursor: pointer;
        }
      }
    }

    .dash-nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      margin-bottom: 0.25rem;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
      padding-inline: 10px;
      //padding-left: 1rem;
      //padding: 10px 5px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      p {
        padding-left: 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        color: #fff;
      }

      &:hover,
      &.active-nav {
        background: #fbce33;
        color: #000000;

        svg {
          path {
            fill: #000000;
          }
        }

        p {
          color: #000000;
        }
      }
    }
  }

  .dash-util-items {
    width: 100%;
    //margin-top: auto;
    .dash-nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      margin-bottom: 0.25rem;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
      padding-inline: 10px;
      //padding-left: 1rem;
      //padding: 10px 5px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      p {
        padding-left: 0.75rem;
        font-size: 1rem;
        color: #fff;
      }

      &:hover,
      &.active-nav {
        background: #fbce33;
        color: #000000;

        svg {
          path {
            fill: #000000;
          }
        }

        p {
          color: #000000;
        }
      }
    }
  }
}
