@tailwind components;

.naiparq-carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;

  .naiparq-slide {
    display: none;

    &.active-slide {
      display: flex;
      width: 100%;
    }
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@layer components {
  .translateImage {
    //@apply bigScreen:translate-x-0 bigScreen:translate-y-0;
    //@apply desktop:translate-x-0 desktop:translate-y-0;
    //@apply laptop:translate-x-0 laptop:translate-y-0;
    //@apply tablet:translate-x-6 tablet:translate-y-6;
    //@apply mobile:translate-x-6 mobile:translate-y-6;
    //@apply sm:translate-x-6 sm:translate-y-6
    //@apply xl:translate-x-6 xl:translate-y-6;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
