<section class="naiparq-about-intro mt-[70px] px-4">
  <div class="bg-circle blue -z-10"></div>
  <div class="bg-circle blue-2 -z-10"></div>
  <div class="bg-circle yellow -z-10"></div>
  <div
    class="content bigScreen:max-w-[1200px] desktop:max-w-[900px] laptop:max-w-[900px] mx-auto relative z-0"
  >
    <div
      class="naiparq-about-intro__brief laptop:py-5 tablet:py-5 mobile:py-5 sm:py-3"
    >
      <h1 class="page-title">About Us</h1>
      <p
        class="text-[18px] justify-center leading-[25px] laptop:w-[80%] tabletLand:w-[90%] tablet:w-[90%] mobile:w-[100%] sm:w-[100%] text-center mx-auto"
      >
        We are the convenient parking solution you can trust. Established in
        2021, our main goal has been to solve the parking problem in cities. The
        surge in parking demand has led to mounting pressure to expand the
        supply of parking infrastructure through the conversion of unused land
        into private parking spaces, and <br />the construction of multi-level
        parking facilities within buildings.<br />
        A parking facility has the potential to generate revenue for its
        proprietor, while simultaneously providing motorists with the advantages
        of convenience, Pay-as-you-Go pricing, and security. We address the
        parking predicament by catering to the requirements of both ends of the
        spectrum, namely parking facility owners and motorists.
      </p>
    </div>
    <div
      class="naiparq-about-intro__more flex laptop:flex-row tabletLand:flex-row flex-col sm:flex-col py-16 laptop:gap-10 tabletLand:gap-3 mobile:gap-2 sm:gap-2"
    >
      <div class="basis-1/2">
        <img
          class="w-[100%]"
          src="assets/images/naiparq-about-us.png"
          alt="Naiparq About Us"
        />
      </div>
      <div
        class="basis-1/2 flex flex-col items-start laptop:pt-16 tabletLand:pt-16 mobile:pt-5 sm:pt-5"
      >
        <h3
          class="page-title laptop:text-[45px] laptop:leading-[50px] laptop:py-5"
        >
          Who is NaiparQ?
        </h3>
        <p
          class="text-[18px] max-w-[555px] pt-2 laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
        >
          Naiparq is an <strong>award-winning technology innovator</strong> in
          emerging markets. Our team has a strong background in building systems
          and software both as a stand-alone system or/and integrating into your
          existing systems. Our key strength is innovation. We are based in
          Nairobi; Kenya and we are in the business of improving the
          efficiencies of our customers. We offer locally developed,
          customizable solutions (African solutions for the African market).
        </p>
      </div>
    </div>
  </div>
</section>
<section class="naiparq-about-guide bg-[#fff] relative z-0 px-4">
  <div
    class="content bigScreen:max-w-[1200px] desktop:max-w-[900px] laptop:max-w-[900px] mx-auto py-10"
  >
    <div class="naiparq-about-guide__title text-center">
      <h1
        class="page-title-two text-center laptop:text-left tabletLand:text-left mobile:text-center sm:text-center"
      >
        How we solve your Parking Problems
      </h1>
      <p class="text-[22px] leading-7 py-2">We currently have two solutions:</p>
    </div>

    <div class="naiparq-about-guide__items gap-2 py-10">
      <div
        class="naiparq-about-guide__item gap-3 flex laptop:flex-row tabletLand:flex-row flex-col sm:flex-col items-center"
      >
        <div class="basis-1/2">
          <p
            class="text-[18px] leading-[27px] laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
          >
            We are the <strong>airbnb of parking</strong> for parking – where
            motorists can reserve a parking space in advance. We look at a
            parking space as a form of real estate that can be ‘rented’ and can
            generate revenue for the owner. This solution works to open up
            underutilized spaces in the city by empowering everyone and anyone
            with idle parking space or even idle land to list and advertise
            their spaces on the Naiparq platform. The process is simple, a
            parking space owner would list his/her spaces on the Naiparq
            platform while a motorist would download the Naiparq mobile app on
            their phone and use it to find and reserve this space.
          </p>
        </div>
        <div class="px-3 basis-1/2">
          <img
            class="w-[75%] mx-auto"
            src="assets/images/icons/naiparq-feed.png"
            alt="Naiparq Feed"
          />
        </div>
      </div>
      <div
        class="naiparq-about-guide__item gap-3 flex laptop:flex-row tabletLand:flex-row mobile:flex-col-reverse sm:flex-col-reverse flex-col sm:flex-col items-center"
      >
        <div class="px-3 basis-1/2">
          <img
            class="w-[75%] mx-auto"
            src="assets/images/icons/naiparq-drive-in.png"
            alt="Naiparq Feed"
          />
        </div>
        <div class="basis-1/2">
          <p
            class="text-[18px] leading-[27px] laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
          >
            Our parking management solution incorporates access control features
            and employs License Plate Recognition (LPR) software to automate the
            parking process, augment facility security, and minimize the risk of
            unauthorized access. This comprehensive system is capable of
            managing both commercial parking lots, which require payment for
            parking, as well as non-commercial parking lots, such as those found
            at office blocks or residential areas, where parking is free of
            charge. By implementing our parking management system, owners and
            managers can efficiently manage their parking facilities while
            providing a seamless and secure experience for their customers or
            tenants.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
