<section class="naiparq-about-intro px-3">
  <div class="bg-circle blue -z-10"></div>
  <div class="bg-circle blue-2 -z-10"></div>
  <div class="bg-circle yellow -z-10"></div>
  <div class="content max-w-[1200px] mx-auto relative z-0">
    <div
      class="naiparq-about-intro__brief laptop:py-5 tabletLand:py-5 tablet:py-5 mobile:py-5 sm:py-3"
    >
      <h1 class="page-title">About Us</h1>
      <p
        class="text-[18px] laptop:w-[80%] tabletLand:w-[90%] tablet:w-[90%] mobile:w-[100%] sm:w-[100%] text-center mx-auto"
      >
        The art of finding parking space in cities in Kenya – for instance
        Nairobi – can be described as a search for a needle in a haystack, yet
        parking is a basic need. It isn't easy to find your car after you have
        parked it somewhere and in case you leave then come back hours later,
        chances are that you would find that the space has already been taken by
        another driver who wants it because there are no other available
        alternatives. <br />We are here to make your parking experience simple,
        seamless and stress-free.
      </p>
    </div>
    <div
      class="naiparq-about-intro__more flex laptop:flex-row tabletLand:flex-row flex-col sm:flex-col py-10 laptop:gap-5 tabletLand:gap-3 mobile:gap-2 sm:gap-2"
    >
      <div class="basis-1/2">
        <img
          class="w-[100%]"
          src="assets/images/naiparq-about-us.png"
          alt="Naiparq About Us"
        />
      </div>
      <div
        class="basis-1/2 flex flex-col items-start laptop:pt-5 tabletLand:pt-5 mobile:pt-5 sm:pt-5"
      >
        <h3 class="page-title">Who is NaiparQ?</h3>
        <p
          class="text-[18px] pt-2 laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
        >
          Naiparq is an <strong>award-winning technology innovator</strong> in
          emerging markets. Our team has a strong background in building systems
          and software both as a stand-alone system or/and integrating into your
          existing systems. Our key strength is innovation. We are based in
          Nairobi; Kenya and we are in the business of improving the
          efficiencies of our customers. We offer locally developed,
          customizable solutions (African solutions for the African market).
        </p>
      </div>
    </div>
  </div>
</section>
<section class="naiparq-about-guide bg-[#fff] relative z-0 px-3">
  <div class="content max-w-[1200px] mx-auto py-10">
    <div class="naiparq-about-guide__title text-center">
      <h1
        class="page-title-two laptop:text-left tabletLand:text-left mobile:text-center sm:text-center"
      >
        How we solve your Parking Problems
      </h1>
      <p class="text-[22px] leading-[27px] py-2">
        We currently have two solutions:
      </p>
    </div>

    <div class="naiparq-about-guide__items gap-2 py-10">
      <div
        class="naiparq-about-guide__item gap-3 flex laptop:flex-row tabletLand:flex-row flex-col sm:flex-col items-center"
      >
        <div class="basis-1/2">
          <p
            class="text-[18px] leading-[27px] laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
          >
            An <strong>‘airbnb’ model</strong> for parking – where motorists can
            reserve a parking space in advance. We look at a parking space as a
            form of real estate that can be ‘rented’ and can generate revenue
            for the owner. This solution works to open up underutilized spaces
            in the city by empowering everyone and anyone with idle parking
            space or even idle land to list and advertise their spaces on the
            Naiparq platform. The process is simple, a parking space owner would
            list his/her spaces on the Naiparq platform while a motorist would
            download the Naiparq mobile app on their phone and use it to find
            and reserve this space.
          </p>
        </div>
        <div class="px-3 basis-1/2">
          <img
            class="w-[75%] mx-auto"
            src="assets/images/icons/naiparq-feed.png"
            alt="Naiparq Feed"
          />
        </div>
      </div>
      <div
        class="naiparq-about-guide__item gap-3 flex laptop:flex-row tabletLand:flex-row mobile:flex-col-reverse sm:flex-col-reverse flex-col sm:flex-col items-center"
      >
        <div class="px-3 basis-1/2">
          <img
            class="w-[75%] mx-auto"
            src="assets/images/icons/naiparq-drive-in.png"
            alt="Naiparq Feed"
          />
        </div>
        <div class="basis-1/2">
          <p
            class="text-[18px] leading-[27px] laptop:text-left tabletLand:text-left mobile:text-justify sm:text-justify"
          >
            A <strong>parking management system</strong> with access control.
            With this solution, think of; ALPR (Automatic License Plate
            Recognition), Whitelists and Blacklists, Entry/Exit Barriers and
            Automated/Cashless Payment systems. This parking management system
            can be integrated into our mobile app at the request of the client
            to enable him/her to tap into the ‘airbnb model’ – where they get
            visibility to a pool of parking seekers and are matched through
            reservations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
