.naiparq-space {
  overflow-y: hidden;

  .naiparq-space-container {
    margin: 40px 0;
    overflow-y: scroll;

    .naiparq-space-item {
      padding: 8px;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
      border-radius: 8px;
      transition: all 0.5ms ease-in;

      &:hover {
        -moz-box-shadow: 0 0 6px #ccc;
        -webkit-box-shadow: 0 0 6px #ccc;
        box-shadow: 0 0 6px #ccc;
      }

      .naiparq-space-title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
        text-align: center;
        padding: 10px 0;
        color: var(--text-primary);
      }
    }
  }
}

.add-pricing-modal {
  .modal-body {
    p {
      //color:
    }
  }
}

.modal-space-dialog {
  position: fixed;
  margin: auto;
  width: 418px;
  height: 100%;
  right: 10px;
  top: 0;
  z-index: 1100;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
