.naiparq-space {
  overflow-y: hidden;

  .naiparq-space-container {
    margin: 40px 0;
    overflow-y: scroll;

    .naiparq-space-item {
      padding: 8px;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
      border-radius: 8px;
      transition: all 0.5ms ease-in;

      &:hover {
        -moz-box-shadow: 0 0 6px #ccc;
        -webkit-box-shadow: 0 0 6px #ccc;
        box-shadow: 0 0 6px #ccc;
      }

      .naiparq-space-title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
        text-align: center;
        padding: 10px 0;
        color: var(--text-primary);
      }
    }
  }
}

.add-pricing-modal {
  .modal-body {
    p {
      //color:
    }
  }
}

//.form-check-input:checked {
//  background: #fbce33;
//}
