.naiparq-login {
  height: 100vh;
  width: 100%;
  background: #121212;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .naiparq-login-wrap {
    width: 554px;
    min-height: 559px;
    background: #191919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    .naiparq-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      img {
        width: 75px;
      }

      h4 {
        color: #fff;
        font-size: 50px;
        margin-left: 10px;
        font-weight: 600;
      }
    }
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.show-password {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 56px;
  border-left: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
