.naiparq-home {
  &__operator {
    border: 1px solid red;
    position: relative;
  }

  &__landing,
  &__how-it-works {
    border: 1px solid red;

    &-content {
      .landing-intro {
        h1 {
          font-weight: 700;
        }
      }
    }
    .bg-circle {
      &.blue {
        top: -120px;
        right: -120px;
        height: 483px;
        width: 483px;
        background: #4bc1f1;
        mix-blend-mode: normal;
        filter: blur(200px);
      }

      &.yellow {
        position: absolute;
        width: 895px;
        height: 895px;
        left: -635px;
        top: 268px;

        background: #fbce33;
        mix-blend-mode: normal;
        filter: blur(200px);
      }
    }
  }

  &__operator {
    position: relative;

    .bg-circle {
      &.blue {
        top: -298px;
        left: -596px;
        height: 895px;
        width: 895px;
        background: #4bc1f1;
        mix-blend-mode: normal;
        filter: blur(200px);
      }

      &.yellow {
        position: absolute;
        width: 590px;
        height: 590px;
        right: -197px;
        bottom: -190px;

        background: #fbce33;
        mix-blend-mode: normal;
        filter: blur(200px);
      }
    }
  }

  &__blog,
  &__apps {
    height: 900px;
    border: 1px solid red;
  }

  &__operator {
    position: relative;
  }
}

.bg-circle {
  position: absolute;
  z-index: 0;
}
