.naiparq-home {
  &__operator {
    position: relative;
  }

  &__slide-wrap {
    height: calc(95vh - 80px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__landing,
  &__how-it-works {
    &-content {
      .landing-intro {
        h1 {
          font-weight: 700;
        }
      }
    }
    .bg-circle {
      &.blue {
        top: -120px;
        right: -120px;
        height: 483px;
        width: 483px;
        background: #4bc1f1;
        mix-blend-mode: normal;
        filter: blur(200px);
      }

      &.yellow {
        position: absolute;
        width: 895px;
        height: 895px;
        left: -635px;
        top: 268px;

        background: #fbce33;
        mix-blend-mode: normal;
        filter: blur(200px);
      }
    }
  }

  &__operator {
    position: relative;

    .bg-circle {
      &.blue {
        top: -298px;
        left: -596px;
        height: 895px;
        width: 895px;
        background: #4bc1f1;
        mix-blend-mode: normal;
        filter: blur(200px);
      }

      &.yellow {
        position: absolute;
        width: 590px;
        height: 590px;
        right: -197px;
        bottom: -90px;

        background: #fbce33;
        mix-blend-mode: normal;
        filter: blur(200px);
      }
    }
  }

  &__operator {
    position: relative;
  }

  &__reservation {
    min-height: 80vh;

    .circle-blue {
      width: 487px;
      height: 487px;
      left: -254px;
      bottom: -20%;

      background: #4bc1f1;
      mix-blend-mode: normal;
      filter: blur(200px);
    }

    .naiparq-home-title {
      z-index: 2;
    }

    &-wrap {
      height: 80vh;
      z-index: 5;
    }
  }

  &__apps {
    z-index: 5;
  }

  &__blog {
    .circle-blue {
      width: 895px;
      height: 895px;
      left: -667px;
      bottom: -75%;
      border: 1px solid red;

      background: #4bc1f1;
      mix-blend-mode: normal;
      filter: blur(200px);
    }
  }
}

.naiparq-home__apps {
  background-image: url("/assets/images/naiparq-app-bg.png");
  background-position: center;
  background-size: cover;
}
