<form [formGroup]="loginForm" class="naiparq-login-form" (ngSubmit)="login()">

  <fieldset [class.is-invalid]="isInvalid$ | async" class="naiparq-form-group">
    <label for="pNumber">Phone Number</label>
    <input type="text" id="pNumber" formControlName="phone"  class="naiparq-form-input naiparq-login-input ">
  </fieldset>

  <fieldset [class.is-invalid]="isInvalid$ | async" class="naiparq-form-group">
<!--       Todo Add view password-->
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" class="naiparq-form-input naiparq-login-input ">
  </fieldset>

  <div class="naiparq-form-group">
    <button
      class="naiparq-btn naiparq-btn-primary"
      type="submit"
      [disabled]="(isLoading$ | async)"
      [class.btn-loading]="(isLoading$ | async)"
    >
      <span class="btn-text">Log in</span>
    </button>
  </div>
    <div class="login-message">
      <span>{{ errMsg$ | async }}</span>
    </div>
  <div class="naiparq-form-group">
    <p>
      Don't have an account? <a [routerLink]="['/auth/register']">Register Here →</a>
    </p>
  </div>

</form>

