<div class="naiparq-login">
  <div class="naiparq-login-wrap">
    <div class="naiparq-logo">
      <img src="assets/images/naiparq-logo.png" alt="Naiparq">
    </div>
    <form class="naiparq-login-form">

      <div class="naiparq-form-group">
        <label for="pNumber">Phone Number</label>
        <input type="text" id="pNumber" class="naiparq-form-input">
      </div>

      <div class="naiparq-form-group">
<!--        Add view password-->
        <label for="password">Password</label>
        <input type="password" id="password" class="naiparq-form-input">
      </div>

      <div class="naiparq-form-group">
        <button
          class="naiparq-btn naiparq-btn-primary"
          type="submit"
        >
          <span class="btn-text">Log in</span>
        </button>
      </div>

      <div class="naiparq-form-group">
        <p>
          <!--      Todo add the add icon-->
          Don't have an account? <a href="">Register Here</a>
        </p>
      </div>

    </form>

  </div>
</div>
