.naiparq-login {
  height: 100vh;
  width: 100%;
  background: #121212;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .naiparq-login-wrap {
    width: 554px;
    height: 559px;
    background: #191919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    .naiparq-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}
