.naiparq-cash-payment-container {
  height: calc(100% - 66px);
  margin-top: 25px;
  overflow-y: hidden;
  background: var(--bkg-four-color);
  padding: 15px 45px;
  border-radius: 14px;

  .naiparq-form-group {
    .naiparq-form-input {
      color: #000000 !important;
    }
  }


  .naiparq-cash-payment-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.125rem;
    width: 100%;


    p {
      font-weight: 400;
      font-size: 21px;
      line-height: 20px;
      color: var(--text-primary);
    }
  }

  .naiparq-cash-payment-table {
    height: calc(100% - 100px);
    overflow-y: scroll;

    thead {
      color: var(--text-secondary);
    }

    tbody {
      td {
        padding: 15px;
        color: var(--text-primary);
      }
    }
  }
}
