<div class="naiparq-revenue">
  <div class="naiparq-revenue-container">
    <!--    Revenue Header-->
    <div class="naiparq-revenue-header pb-3 max-w-[1200px]">
      <div class="naiparq-revenue-header-date">
        <h4>{{ todayDate() | date : "MMMM dd, yyyy" }}</h4>
      </div>
      <div
        class="naiparq-revenue-header-amounts grid grid-cols-2 tablet:grid-cols-4 gap-3"
      >
        <div
          class="bg-[#4BC1F1] text-[#FFF] rounded-lg flex flex-col px-3 py-3"
        >
          <p class="text-base mb-2">Total Revenue</p>
          <h4 class="text-3xl font-bold">
            KES {{ revenue$ | async | number : "1.2-2" }}
          </h4>
        </div>
      </div>
    </div>

    <!--    Revenue Chart Graph -->
    <div class="naiparq-revenue-chart shadow max-w-[1200px]">
      <div class="container vertical sample">
        <div class="graph-title">
          <p class="graph-title-text">Transaction trend</p>

          <div class="graph-legend">
            <!--            <div class="legend-icon"></div>-->
            <!--            <p>Income</p>-->
            <div class="legend-icon expense"></div>
            <p>Income</p>

            <select
              (change)="handleChangeIncome($event)"
              class="form-select cursor-pointer"
            >
              <option selected value="7">Last 7 day</option>
              <option value="30">Last 30 days</option>
              <option value="100">All Incomes</option>
            </select>
          </div>
        </div>
        <div class="legend">
          <igx-legend orientation="Horizontal" name="Legend" #legend>
          </igx-legend>
        </div>
        <div class="container fill">
          <igx-category-chart
            chartType="Spline"
            isTransitionInEnabled="true"
            yAxisTitle="Money"
            [dataSource]="billings"
            [legend]="legend"
            isHorizontalZoomEnabled="false"
            isVerticalZoomEnabled="false"
            computedPlotAreaMarginMode="Series"
            name="chart"
            #chart
          >
          </igx-category-chart>
        </div>
      </div>
    </div>
  </div>
</div>
