<div class="settings-container pea-scrollbar">
  <div class="form-title">
    <p>Admin Information</p>
    <button type="button">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.0495 3.00017L4.2078 10.2418C3.94947 10.5168 3.69947 11.0585 3.64947 11.4335L3.34114 14.1335C3.2328 15.1085 3.9328 15.7752 4.89947 15.6085L7.5828 15.1502C7.9578 15.0835 8.48284 14.8085 8.74117 14.5252L15.5828 7.2835C16.7662 6.0335 17.2995 4.6085 15.4578 2.86684C13.6245 1.14184 12.2328 1.75017 11.0495 3.00017Z"
          stroke="#4BC1F1"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.90883 4.20816C10.2672 6.50816 12.1338 8.26649 14.4505 8.49983M2.5 18.3333H17.5"
          stroke="#4BC1F1"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      Edit
    </button>
  </div>

  <form class="settings-form" [formGroup]="userInfoForm">
    <div class="form-content">
      <fieldset class="form-row">
        <div class="form-row-item">
          <label for="firstName">First Name</label>
          <input
            formControlName="first_name"
            class="naiparq-form-input"
            type="text"
            id="firstName"
          />
        </div>
        <div class="form-row-item">
          <label for="lastName">Last Name</label>
          <input
            formControlName="last_name"
            class="naiparq-form-input"
            type="text"
            id="lastName"
          />
        </div>
      </fieldset>

      <div class="form-row">
        <fieldset class="form-row-item">
          <label for="userPhone">Mobile Number</label>
          <input
            formControlName="phone_number"
            class="naiparq-form-input"
            type="text"
            id="userPhone"
          />
        </fieldset>
        <fieldset class="form-row-item">
          <label for="userEmail">Email</label>
          <div class="form-item-group post">
            <input
              formControlName="email"
              class="naiparq-form-input"
              type="email"
              id="userEmail"
            />
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.3333 3.33333H2.66659C1.65406 3.33333 0.833252 4.12928 0.833252 5.11111V14.8889C0.833252 15.8707 1.65406 16.6667 2.66659 16.6667H17.3333C18.3458 16.6667 19.1666 15.8707 19.1666 14.8889V5.11111C19.1666 4.12928 18.3458 3.33333 17.3333 3.33333Z"
                stroke="#A2A2A8"
                stroke-width="1.5"
              />
              <path
                d="M1.25 4.16667L9.3532 11.4283C9.71922 11.7461 10.2798 11.7461 10.6458 11.4283L18.75 4.16667"
                stroke="#A2A2A8"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.66675 15.8333L7.43451 10M18.3334 15.8333L12.5657 10L18.3334 15.8333Z"
                stroke="#A2A2A8"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </fieldset>
      </div>

      <div class="flex flex-row gap-2 items-center">
        <button type="submit">Update Account</button>
        <button
          data-bs-toggle="modal"
          data-bs-target="#changePass"
          type="submit"
        >
          Update Password
        </button>
      </div>
    </div>
  </form>
</div>

<!--Change Password Modal-->
<div
  class="modal fade change-pass"
  id="changePass"
  tabindex="-1"
  aria-labelledby="changePass"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button
          type="button"
          class="btn-close naiparq-close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <form [formGroup]="changePassForm" (ngSubmit)="submitChangePass()">
        <div class="modal-body py-0">
          <div class="naiparq-form-group">
            <label for="oldPass">Old Password</label>
            <input
              formControlName="old_password"
              type="text"
              class="naiparq-form-input"
              id="oldPass"
            />
          </div>
          <div class="naiparq-form-group">
            <label for="newPass">New Password</label>
            <input
              formControlName="new_password"
              type="text"
              class="naiparq-form-input"
              id="newPass"
            />
          </div>
          <div class="naiparq-form-group">
            <label for="confirmPass">Confirm Password</label>
            <input
              formControlName="confirm_password"
              type="text"
              class="naiparq-form-input"
              id="confirmPass"
            />
          </div>
        </div>
        <div class="modal-footer flex flex-row items-center justify-between">
          <button
            data-bs-dismiss="modal"
            aria-label="Close"
            class="naiparq-btn naiparq-btn-primary"
            type="submit"
          >
            Cancel
          </button>
          <button class="naiparq-btn naiparq-btn-primary" type="submit">
            <span class="btn-text">Change Password</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
