<div class="naiparq-checkout">
  <div class="naiparq-checkout-wrap">
    <div class="naiparq-checkout-logo">
      <img src="assets/images/logo-white.png" alt="Naiparq" />
      <h4 class="naiparq-logo-title">NaiParq</h4>
    </div>
    <div class="naiparq-checkout-content">
      <div
        *ngIf="stepOne"
        [class.active]="stepOne"
        [class.hide]="!stepOne"
        class="naiparq-checkout-plate"
      >
        <form
          class="naiparq-checkout-form"
          [formGroup]="numberPlateForm"
          (ngSubmit)="handleSubmitPlate()"
        >
          <div class="naiparq-checkout-form-group">
            <label>Enter Number Plate</label>
            <div class="naiparq-checkout-form-input">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.25 9.375H18.75"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16.875 16.875H15C14.8342 16.875 14.6753 16.8092 14.5581 16.6919C14.4408 16.5747 14.375 16.4158 14.375 16.25V14.375H5.625V16.25C5.625 16.4158 5.55915 16.5747 5.44194 16.6919C5.32473 16.8092 5.16576 16.875 5 16.875H3.125C2.95924 16.875 2.80027 16.8092 2.68306 16.6919C2.56585 16.5747 2.5 16.4158 2.5 16.25V9.375L4.83504 4.12116C4.88414 4.01069 4.96423 3.91682 5.0656 3.85094C5.16697 3.78506 5.28527 3.75 5.40617 3.75H14.5938C14.7147 3.75 14.833 3.78506 14.9344 3.85094C15.0358 3.91682 15.1159 4.01069 15.165 4.12116L17.5 9.375V16.25C17.5 16.4158 17.4342 16.5747 17.3169 16.6919C17.1997 16.8092 17.0408 16.875 16.875 16.875Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                formControlName="license_plate"
                type="text"
                placeholder="KAA 000A"
              />
            </div>
          </div>
          <button
            [class.btn-loading]="submittingPlate"
            type="submit"
            class="naiparq-btn naiparq-btn-primary"
          >
            <span class="btn-text">Next</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
