.naiparq-dash {
  height: 100vh;

  &-container {
    height: 100%;
    display: flex;
  }

  &-sidenav {
    height: 100%;
    width: 262px;
    background: var(--bkg-two-color);

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 3rem 1.5rem;

      .logo-nav,
      .dash-util-items {
        .dash-branding {
          margin-bottom: 1.625rem;
          padding-left: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .toggle-theme {
            position: relative;
            height: 100%;
            width: 30px;

            svg {
              height: 20px;
              width: 20px;
              color: #fbce33;
              cursor: pointer;
            }
          }
        }

        .dash-nav-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          margin-bottom: 0.25rem;
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          padding-inline: 10px;
          //padding-left: 1rem;
          //padding: 10px 5px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          p {
            padding-left: 0.75rem;
            margin-bottom: 0;
            font-size: 1rem;
            color: #fff;
          }

          &:hover,
          &.active-nav {
            background: #fbce33;
            color: #000000;

            svg {
              path {
                fill: #000000;
              }
            }

            p {
              color: #000000;
            }
          }
        }
      }

      .dash-util-items {
        width: 100%;
        //margin-top: auto;
        .dash-nav-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          margin-bottom: 0.25rem;
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          padding-inline: 10px;
          //padding-left: 1rem;
          //padding: 10px 5px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          p {
            padding-left: 0.75rem;
            font-size: 1rem;
            color: #fff;
          }

          &:hover,
          &.active-nav {
            background: #fbce33;
            color: #000000;

            svg {
              path {
                fill: #000000;
              }
            }

            p {
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.naiparq-dash-main-content-container {
  height: 100vh;
  width: calc(100vw - 250px);

  .dash-main-content {
    height: 100%;
    padding: 1.5rem 2.5rem;
    background: var(--bkg-one-color);

    .dash-top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.125rem;

      .dash-nav-title {
        margin-left: 10px;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--text-primary);
      }

      .top-nav-items {
        display: flex;
        align-items: center;

        .nav-search {
          input {
            width: 223px;
            padding: 10px 20px 10px 45px;
            border: none;
            border-radius: 25px;
            background-position: 2% 50%;
            background-repeat: no-repeat;
            background-size: 30px;
            transition: 0.5s all ease-in-out;
            //filter: brightness(170%);
            background-color: var(--bkg-three-color);
            font-size: 16px;
            color: var(--text-primary);
            margin-right: 10px;

            &::placeholder {
              color: var(--text-primary);
              opacity: 0.9;
            }

            &:focus,
            &:focus-visible,
            &:active {
              width: 350px;
              background-color: var(--bkg-three-color);
              //filter: brightness(100%);
              border: none;
            }
          }
        }

        .nav-notification {
          position: relative;

          svg {
            fill: var(--text-primary);
            position: relative;
            font-size: 54px;
            animation: notify 1s forwards infinite;
          }
        }

        svg {
          margin-right: 2.5rem;
        }
      }
    }
  }
}

@keyframes notify {
  10% {
    rotate: 15deg;
  }
  20% {
    rotate: -15deg;
  }
  30% {
    rotate: 15deg;
  }
  50% {
    rotate: 0deg;
  }
}

.nav-user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 210px;
  padding: 6px;
  border-radius: 100px;
  background-color: var(--bkg-three-color);
  cursor: pointer;

  .img-name {
    display: flex;
    align-items: center;
    padding-right: 10px;

    img {
      height: 36px;
      width: 36px;
      margin-right: 0.75rem;
      border-radius: 50%;
      object-fit: cover;
    }
    p {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-primary);
    }
  }

  svg {
    margin-right: 1rem;
    fill: var(--text-primary) !important;
  }
}

.user-profile-dropdown {
  border-radius: 100px;
  .dropdown-menu {
    background-color: var(--bkg-three-color);
    border: 1px solid var(--text-primary);

    &.show {
      width: 100%;
    }

    a {
      color: var(--text-primary);
    }
  }
}

.dropdown-item {
  cursor: pointer;
}

.dash-content-outlet {
  height: calc(100% - 66px);
  overflow: hidden;
  float: left;
}
