.naiparq-dash {
  height: 100vh;

  &-container {
    height: 100%;
    display: flex;
  }

  &-sidenav {
    height: 100%;
    width: 262px;
    background: var(--bkg-two-color);

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 3rem 1.5rem;

      .logo-nav,
      .dash-util-items {

        .dash-branding {
          margin-bottom: 1.625rem;
          padding-left: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .toggle-theme {
            position: relative;

            input {
              cursor: pointer;
              position: relative;
              width: 52px;
              height: 32px;
              -webkit-appearance: none;
              background: #45454C;
              outline: none;
              border-radius: 20px;
              box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

              &:checked {
                background: #00AF54;

                &::before {
                  left: 20px;
                }
              }

              &::before {
                content: '';
                position: absolute;
                width: 28px;
                height: 28px;
                border-radius: 20px;
                top: 2px;
                left: 4px;
                bottom: 2px;
                background: #FFFFFF;
                transition: .5s;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
              }
            }
          }
        }

        .dash-nav-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          margin-bottom: 0.25rem;
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          padding-inline: 10px;
          //padding-left: 1rem;
          //padding: 10px 5px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          p {
            padding-left: 0.75rem;
            margin-bottom: 0;
            font-size: 1rem;
            color: #fff;
          }

          &:hover,
          &.active-nav{
            background: #FBCE33;
            color: #000000;

            svg {
              path {
                fill: #000000;
              }
            }

            p {
              color: #000000;
            }
          }
        }
      }

      .dash-util-items {
        width: 100%;
        //margin-top: auto;
        .dash-nav-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
          margin-bottom: 0.25rem;
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          padding-inline: 10px;
          //padding-left: 1rem;
          //padding: 10px 5px;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.5s ease-in-out;

          p {
            padding-left: 0.75rem;
            font-size: 1rem;
            color: #fff;
          }

          &:hover,
          &.active-nav{
            background: #FBCE33;
            color: #000000;

            svg {
              path {
                fill: #000000;
              }
            }

            p {
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.naiparq-dash-main-content-container {
  height: 100vh;
  width: calc(100vw - 250px);

  .dash-main-content {
    height: 100%;
    padding: 1.5rem 2.5rem;
    background: var(--bkg-one-color);

    .dash-top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.125rem;

      .dash-nav-title {
        &:first-child {
          margin-bottom: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }

      .top-nav-items {
        display: flex;
        align-items: center;

        svg {
          margin-right: 2.5rem;
        }
      }
    }
  }
}

.nav-user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 210px;
  padding: 6px;
  border-radius: 100px;
  background-color: #fafafa;
  cursor: pointer;

  .img-name {
    display: flex;
    align-items: center;

    img {
      height: 36px;
      width: 36px;
      margin-right: 0.75rem;
      border-radius: 50%;
      object-fit: cover;
    }
    p {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  svg {
    margin-right: 1rem;
  }
}

.user-profile-dropdown {
  .dropdown-menu {
    &.show {
      width: 100%;
    }
  }
}

.dropdown-item {
  cursor: pointer;
}

.dash-content-outlet {
  height: calc(100% - 66px);
  overflow: hidden;
}
