/* You can add global styles to this file, and also import other style files */

// Colors
$primary-dark: '';
$primary-yellow: '';

// Fonts
$font-family: 'Sk-Modernist';
@font-face {
  font-family: 'Okta Neue';
  src: url('assets/fonts/Sk-Modernist-Mono.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Okta Neue';
  src: url('assets/fonts/Sk-Modernist-Regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Okta Neue';
  src: url('assets/fonts/Sk-Modernist-Bold.woff') format('woff');
  font-weight: 700;
}

html {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #004C4D;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  // Text Colors
  --text-primary: #252733;
  --text-secondary: #4BC1F1;

  // Background colors
  --bkg-one-color: #fafafa;
  --bkg-two-color: #121212;
  --bkg-three-color: #f8f8f8;
  --bkg-four-color: #fff;
}

body.dark-theme {
  // Text Colors
  --text-primary: #FFFFFF;
  --text-secondary: #FBCE33;

  // Background colors
  --bkg-one-color: #171719;
  --bkg-two-color: #212125;
  --bkg-three-color: #333339;
  --bkg-four-color: #212125;
}

body {
  font-family: 'Okta Neue', sans-serif !important;
  font-weight: normal;
  margin: 0;
  background: var(--bkg-color);
  overflow: hidden;
}


// Form
.naiparq-form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;

    label {
      font-family: 'Sk-Modernist', sans-serif;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      color: #FFFFFF;
    }

  &.is-invalid {

    input {
      border: 1px solid #ff0000;
      color: #ff0000;
      animation: shake 300ms;
    }

    .pea-login-password {
      svg {
        color: #ff0000;
      }
    }
  }

  .naiparq-form-input {
    width: auto;
    border-radius: 10px;
    background: transparent;
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 14px;

    &.naiparq-login-input {
      border: 1px solid #fff;
      color: #ffffff;
    }

    &:focus,
    &:active,
    &:focus-visible {
      background: transparent;
      border: 1px solid #fff;
    }
  }

  p {
    color: #ffffff;
    font-size: 12px;

    a {
      color: #FBCE33;
      margin-left: 5px;
      font-family: 'Okta Neue', sans-serif;
      font-size: 12px;
    }
  }
}


// Buttons
.naiparq-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Sk-Modernist', sans-serif;
  font-style: normal;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 10px;
  position: relative;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &.naiparq-btn-primary {
    width: auto;
    background: #FBCE33;
  }

  &.naiparq-btn-success {
    width: 83px;
    height: 34px;
    border: 1px solid #01852E;
    color: #01852E;
    background: #AFEEC5;
    border-radius: 40px;
    padding: 0;
  }

  &.naiparq-btn-danger {
    padding: 0;
    width: 83px;
    height: 34px;
    border: 1px solid #F10808;
    color: #F10808;
    background: #EEAFAF;
    border-radius: 40px;
  }

  &:hover {
    opacity: 0.65;
  }


  &.btn-loading {
    opacity: 0.65;
    cursor: not-allowed;
    .btn-text {
      visibility: hidden;
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: #fff;
      border-radius: 50%;
      animation: btn-loading-spinner 1s ease infinite;
    }
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  color: var(--text-primary);
  font-weight: 500;
  background-color: transparent;

  svg {
    margin-right: 0.875rem;
    fill: var(--text-primary);
  }
}

// Input
@keyframes btn-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

form {
  padding: 20px 0;
  width: 100%;

  .form-row  {
    display: flex;
    justify-content: space-between;

    .form-row-item {
      display: flex;
      flex-direction: column;
      width: 48%;
      margin-bottom: 1.625rem;

      &.text-area {
        width: 100%;
      }

      label {
        margin-bottom: 0.625rem;
        //color: #004445;
        color: var(--text-primary);
        font-size: 0.875rem;
        font-weight: 500;
      }

      .dropdown-menu {
        max-height: 400px;
        overflow-y: scroll;
      }

      .naiparq-form-input {
        height: 48px;
        padding-left: 1rem;
        //border: 1px solid #cbced5;
        border-radius: 10px;
        font-size: 1rem;

        border: 1px solid #B1ADAD;
        color: var(--text-primary);

        &:focus {
          outline: none;
        }

        &.pea-select-input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 1rem;
          cursor: pointer;

          p {
            margin-bottom: 0;
          }
        }

        &.is-invalid {
          border: 1px solid #cc0000;
        }
      }

      textarea {
        min-height: 100px;
      }

      &.is-invalid {
        label {
          color: #ff0000;
        }
        input {
          border: 1px solid #ff0000;
          color: #ff0000;
        }

        .pea-login-password {
          svg {
            color: #ff0000;
          }
        }
      }
    }

  }

  .form-item-group {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding-left: 3rem;
    }

    &.post {
      svg {
        margin-left: -2rem;
        cursor: pointer;
      }
    }

    &.pre {
      justify-content: flex-end;

      svg {
        margin-right: -2rem;
        cursor: pointer;
        z-index: 3;
      }

      &.email input {
        padding-left: 3rem !important;
      }
    }

  }
}

// Naiparq Scroll Bar
.naiparq-scrollbar {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bkg-one-color);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// Modal {
.modal {

  .modal-content {
    padding: 20px 15px;
    background-color: var(--bkg-one-color);

    .modal-header {
      border: none;

      .modal-title {
        font-size: 25px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: var(--text-primary);
      }


      .naiparq-close-btn {
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 18px;
          color: #000000;
        }
      }
    }

    .modal-body {
      .naiparq-form-group {
        padding-inline: 0;

        label {
          color: var(--text-primary);
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }

        .naiparq-form-input {
          border: 1px solid #B1ADAD;
          color: var(--text-primary);
        }
      }
    }
  }
}

// Naiparq Table Styles
table {
  height: calc(100% - 100px);
  overflow-y: scroll;

  thead {
    color: var(--text-secondary);
    background: #FFFFFF;
  }

  tbody {
    td {
      padding: 15px;
      color: var(--text-primary);

      .table-actions {
        display: flex;
        grid-gap: 10px;

        svg {
          cursor: pointer;
        }
      }

    }
  }
}
