.naiparq-landing {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: auto;

  &__header {
    height: 100px;
    background: #fff;
    border: 1px solid red;
    flex: 1;
  }

  .naiparq-landing,
  .naiparq-how-it-works {
    height: 900px;
    border: 1px solid blue;
  }

  &__footer {
    height: 530px;
    bottom: 0;
    background: #000;
  }
}
