.naiparq-landing {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    height: 100px;
    background: #fff;
    flex: 1;
  }

  &__content {
    flex: auto;
    border: 1px solid blue;
  }

  &__footer {
    height: 530px;
    bottom: 0;
    background: #000;
  }
}
