.naiparq-drivein {
  height: 100%;

  .naiparq-table-wrap {
    height: calc(100% - 80px);
  }
}

.naiparq-cash-payment {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 45px 0;

  p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
  }
}
