<section class="naiparq-GIT__contacts relative h-[397px] mt-[70px] w-full">
  <div class="bg-circle blue-circle -z-10"></div>
  <div class="bg-circle yellow-circle -z-10"></div>
  <div class="max-w-[1200px] mx-auto h-full relative">
    <div class="pt-[110px]">
      <h1 class="font-bold text-[60px] leading-[85px] text-center">
        Get In Touch
      </h1>
    </div>
    <div
      class="naiparq-contact-wrap grid grid-cols-3 gap-4 absolute w-full bottom-[-20%]"
    >
      <div
        class="naiparq-contact-wrap__item px-4 py-3 flex flex-row gap-4 items-center bg-white rounded-[20px] h-[143px]"
      >
        <img
          class="w-[104px] h-[104px]"
          src="assets/images/icons/contact-email.png"
          alt="Send Message"
        />
        <a href class="font-bold text-base">Send us a message</a>
      </div>
      <div
        class="naiparq-contact-wrap__item px-4 py-3 flex flex-row gap-4 items-center bg-white rounded-[20px] h-[143px]"
      >
        <img
          class="w-[104px] h-[104px]"
          src="assets/images/icons/contact-phone.png"
          alt="Send Message"
        />
        <a href="" class="font-bold text-base">
          Call us <br />
          @ +254 111 701 756
        </a>
      </div>
      <a
        class="naiparq-contact-wrap__item px-4 py-3 flex flex-row gap-4 items-center bg-white rounded-[20px] h-[143px]"
      >
        <img
          class="w-[104px] h-[104px]"
          src="assets/images/icons/contact-whatsapp.png"
          alt="Send Message"
        />
        <h4 class="font-bold text-base">Send us whatsapp</h4>
      </a>
    </div>
  </div>
</section>
<section>
  <div style="z-index: 1" class="max-w-[1200px] relative mx-auto pt-20 py-10">
    <div
      class="naiparq-form-wrap z-10 bg-white bg-[rgba(0, 0, 0, 0.1)] shadow shadow-indigo-500/50 rounded-[20px] mt-20"
    >
      <form
        class="w-[75%] z-0 mx-auto"
        [formGroup]="contactForm"
        (ngSubmit)="submit()"
      >
        <h1 class="text-[40px] leading-[45px] font-bold text-center py-8">
          Get customer support
        </h1>

        <div class="grid grid-cols-2 py-8 gap-3">
          <div class="flex flex-col gap-1 py-2.5">
            <label class="text-[16px] text-[#11142D]" for="cName"
              >Full Name</label
            >
            <input
              class="bg-[#F5F8FA] py-2.5 px-3 focus:outline focus:outline-offset-2 focus:outline-blue-300 rounded-lg"
              type="text"
              id="cName"
              formControlName="full_name"
            />
          </div>
          <div class="flex flex-col gap-1 py-2.5">
            <label class="text-[16px] text-[#11142D]" for="cEmail">Email</label>
            <input
              class="bg-[#F5F8FA] py-2.5 px-3 focus:outline focus:outline-offset-2 focus:outline-blue-300 rounded-lg"
              type="text"
              id="cEmail"
              formControlName="email"
            />
          </div>
        </div>
        <div class="flex flex-col py-4">
          <label class="text-[16px] text-[#11142D] py-2" for="cMessage"
            >Message</label
          >
          <textarea
            id="cMessage"
            formControlName="message"
            class="bg-[#F5F8FA] py-2.5 px-3 focus:outline focus:outline-offset-2 focus:outline-blue-300 rounded-lg h-[207px]"
          ></textarea>
        </div>
        <div [class.btn-loading]="submittingForm" class="naiparq-GIT-btn my-4">
          <button [disabled]="!contactForm.valid" type="submit">
            <span>Send Message</span>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 16H27"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18 7L27 16L18 25"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="naiparq-contact__FAQ z-0 pb-10">
    <div class="content max-w-[1200px] mx-auto">
      <h1 class="text-[40px] leading-[40px] font-bold py-10 text-center">
        FAQ
      </h1>
      <div class="naiparq-FAQs py-3">
        <h2 class="text-[30px] font-[700] leading-[35px]">Motorists</h2>
        <div
          *ngFor="let faq of motoristsFAQs()"
          class="naiparq-FAQS__item bg-white p-4 rounded-lg my-3"
        >
          <div
            class="naiparq-FAQS__item-title flex items-center justify-between"
          >
            <h4 class="text-[16px] leading-[34px] font-bold">
              {{ faq.title }}
            </h4>
            <svg
              (click)="handleActiveFAQ(faq.id)"
              *ngIf="activeFAQ !== faq.id"
              class="cursor-pointer"
              width="62"
              height="62"
              viewBox="0 0 62 62"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.6875 31H52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M31 9.6875V52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              *ngIf="activeFAQ === faq.id"
              (click)="closeActiveFAQ()"
              class="cursor-pointer"
              width="62"
              height="62"
              viewBox="0 0 62 62"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.6875 31H52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            [class.hidden]="activeFAQ !== faq.id"
            class="naiparq-FAQS__item-content transition-all"
          >
            <p class="w-[50%] text-[16px] font-normal leading-[27px]">
              {{ faq.desc }}
            </p>
            <ul *ngIf="faq.list" class="ml-4">
              <li
                *ngFor="let item of faq.list"
                class="list-disc text-[16px] font-normal leading-[27px]"
              >
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="naiparq-FAQs py-3">
        <h2 class="text-[30px] font-[700] leading-[35px]">Space Owners</h2>
        <div
          *ngFor="let faq of operatorsFAQs()"
          class="naiparq-FAQS__item bg-white p-4 rounded-lg my-3"
        >
          <div
            class="naiparq-FAQS__item-title flex items-center justify-between"
          >
            <h4 class="text-[16px] leading-[34px] font-[700]">
              {{ faq.title }}
            </h4>
            <svg
              *ngIf="activeFAQ !== faq.id"
              (click)="handleActiveFAQ(faq.id)"
              class="cursor-pointer"
              width="62"
              height="62"
              viewBox="0 0 62 62"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.6875 31H52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M31 9.6875V52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <svg
              *ngIf="activeFAQ === faq.id"
              (click)="closeActiveFAQ()"
              class="cursor-pointer"
              width="62"
              height="62"
              viewBox="0 0 62 62"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.6875 31H52.3125"
                stroke="black"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            [class.hidden]="activeFAQ !== faq.id"
            class="naiparq-FAQS__item-content transition-all"
          >
            <p class="w-[50%] text-[16px] font-normal leading-[27px]">
              {{ faq.desc }}
            </p>
            <ul *ngIf="faq.list" class="ml-4">
              <li
                *ngFor="let item of faq.list"
                class="list-disc text-[16px] font-normal leading-[27px]"
              >
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
