.naiparq-GIT__contacts {
  background: url("/assets/images/naiparq-GIT-bg.png") no-repeat center;

  .blue-circle {
    width: 483px;
    height: 483px;
    right: -5%;
    top: -20px;

    background: #4bc1f1;
    mix-blend-mode: normal;
    filter: blur(200px);
  }
  .yellow-circle {
    width: 895px;
    height: 895px;
    left: -635px;
    top: 145px;

    background: #fbce33;
    mix-blend-mode: normal;
    filter: blur(200px);
  }
}

.naiparq-contact__GIT-title {
  max-width: 1440px;
  width: 100%;
  height: 397px;
  margin: 0 auto;
  background: url("/assets/images/naiparq-git.png") no-repeat center;
  background-size: cover;
}

.naiparq-GIT-btn {
  width: 222px;
  background: #000000;
  color: #ffffff;
  border-radius: 30px;

  button {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 5px 22px;
    transition: all 0.5s ease-in-out;

    &:hover {
      gap: 30px;
    }

    span {
      font-size: 16px;
    }
  }
}

.naiparq-contact__GIT-title {
  .bg-circle {
    position: absolute;
    z-index: 0;

    &.blue {
      top: -50px;
      right: -30px;
      height: 415px;
      width: 415px;
      background: #4bc1f1;
      mix-blend-mode: normal;
      filter: blur(200px);
    }

    //&.yellow {
    //  position: absolute;
    //  width: 895px;
    //  height: 895px;
    //  left: -635px;
    //  top: 268px;
    //
    //  background: #fbce33;
    //  mix-blend-mode: normal;
    //  filter: blur(200px);
    //}
  }
}

.naiparq-contact__GIT-contacts {
  position: absolute;
}

.bg-circle {
  position: absolute;
}
